<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body onload="">
    <nav>
      <p id="title">INFINITE MAGE</p>
    </nav>
    <div id="primary-options">
      <p class="options">continue reading: <a href="<%= linkPrev %>">link here</a></p>
      <p class="options">Read First chapter: <a href="<%= linkFirst %>"></a></p>
      <p class="options">Read latest chapter: <a href="<%= linkLast %>"></a></p>
    </div>
  </body>
  <script>
    document.querySelector('body').addEventListener('onload', () => document.reload())
  </script>
</html>
